# Drizzle
# Replace with your DB credentials!
DATABASE_URL="mysql://user:password@host:port/db-name"

# Replace with full path to the folder where to upload the files to.
UPLOAD_DIR="/tmp/uploads"

ORIGIN="http://localhost:3000"
APP_NAME="VRMSP"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Email credentials
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="test@example.com"
SMTP_PASSWORD=""
SMTP_FROM_NAME="Video App"
SMTP_FROM_EMAIL="test@example.com"